@import url("https://fonts.googleapis.com/css?family=Manrope&display=swap");
@import "../../Colors.scss";

.About_Container {
  height: auto;
  background-color: $bg-off;
}

.About_Wrapper {
  padding: 4rem 0rem;
  display: flex;
  gap: 80px;
  justify-content: space-between;
  margin: 0px 120px;

  .About_Image_Wrap {
    justify-content: center;

    .About_Image {
      width: 584.62px;
      height: 425.48px;

      .Image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .About_Image_Wrap img {
    width: 48%;
  }

  .About_Text_Wrapper {
    width: 48%;
    gap: 16px;

    .About_Text_Heading {

      p {
        width: 472px;
        height: 22px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #333333;
      }
  
      .About_Text_Header {
        width: 472px;
        height: 110px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        color: #1A1A1A;
        margin-top: 0px;

        span {
          color: rgba(144, 29, 120, 1);
        }
      }
    }

    .About_Text_Body {
      gap: 32px;

      p {
        width: 472px;
        height: 66px;
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
        line-height: 150%;
        margin: 0px;
      }
  
      .About_List {
        margin: 0px;
        list-style: none;
        padding: 0px;
  
        li {
          display: flex;
          flex-direction: row;
          gap: 18px;
          margin: 1rem;
          padding: 0 13px;
  
          img {
            width: 36px;
            height: 36px;
          }

          p {
            width: 322px;
            height: 22px;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 140%;
            color: #1A1A1A;
          }
        }
      }

    }



  }

}

@media screen and (min-width: 769px) and (max-width: 1199px) {

}

@media screen and (max-width: 768px) {
  .About_Wrapper {
    flex-direction: column-reverse;
    padding: 1rem 1rem;
    margin: 0;

    .About_Image_Wrap {

      .About_Image {
        width: 100%;
        height: auto;
      }
    }

    .About_Text_Wrapper {
      width: 100%;
  
      .About_Text_Heading {
  
        p {
          width: 100%;
          height: auto;
          font-weight: 400;
          font-size: 0.8rem;
          line-height: 140%;
          letter-spacing: 0.08em;
          text-transform: uppercase;
          color: #333333;
          margin: 0px;
        }
    
        .About_Text_Header {
          width: 100%;
          height: auto;
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 700;
          font-size: 27px;
          line-height: 37px;
          color: #1A1A1A;
          margin-top: 0px;
  
          span {
            color: rgba(144, 29, 120, 1);
          }
        }
      }
  
      .About_Text_Body {
        gap: 32px;

  
        p {
          width: 100%;
          height: auto;
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 400;
          font-size: 1rem;
          line-height: 140%;
          color: #333333;
          margin: 0px;
        }
    
        .About_List {
          width: 100%;
          height: auto;
          margin: 0px;
          list-style: none;
          padding: 0px;
    
          li {
            display: flex;
            flex-direction: row;
            gap: 18px;
            margin: 1rem;
            padding: 0 13px;
    
            img {
              width: 36px;
              height: 36px;
            }
  
            p {
              width: 100%;
              height: auto;
              font-family: 'Manrope';
              font-style: normal;
              font-weight: 800;
              font-size: 1rem;
              line-height: 140%;
              color: #1A1A1A;
            }
          }
        }
      }
    }
  }

  
}
