@import "../../Colors.scss";
.About_Container {
  height: auto;
  background-color: $bg-off;
}

.About_Wrapper {
  padding: 4rem 0rem;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  margin: 0px 120px;

  .About_Image_Wrap {
    justify-content: flex-start;

    .About_Image {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      width: 600px;
      height: 500px;

      .Image_Flag {
        position: absolute;
        top: 0;
        left: 0;
        width: 549.62px;
        height: 425.48px;
      }

      .Image_1 {
        position: absolute;
        z-index: 1;
        width: 300px;
        height: 136px;
        left: 341px;
        top: 388px;
      }

      .image_2 {
        position: absolute;
        z-index: 1;
      }
    }
  }

  .About_Image_Wrap img {
    width: 48%;
  }

}
