@import "../../Colors.scss";
.S_Container {
  height: auto;
  background-color: $bg-off;
}
.S_Wrapper {
  padding: 4rem 6rem;
}

.S_Top {
  color: $Black-light;
  line-height: 23.48px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.S_Top_Wrap {
  flex: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}
.S_Wrapper_Text {
  font-weight: bold;
  margin: 0;
  font-size: 40px;
  width: 70%;
  line-height: 45px;
}
.S_Purple {
  color: $Base-color;
}
.S_Left_Button {
  border-style: none;
  height: 24px;
  outline: none;
  // background-color: $Black;
}
.S_Right_Button {
  border-style: none;
  height: 24px;
  outline: none;
  // background-color: $Black;
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .S_Wrapper {
    width: auto;
    padding: 2rem;
  }

  .S_Wrapper_Text {
    width: 80%;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .S_Wrapper {
    margin: 0;
    padding: 2rem 1rem;
  }

  .S_Wrapper_Text {
    width: 100%;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .S_Container {
    height: fit-content;
  }
  .S_Right {
    width: 100%;
  }
  .services_card {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
}
