@import "../../Colors.scss";
.C_Container {
  width: 100%;
}
.C_Wrapper {
  padding: 4rem 6rem;
  background-color: $background-offWhite;
}
.Contact_Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10rem;
  padding: 2rem 0;
  margin-top: 2rem;
}
.C_Text_Wrap {
  flex: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}
.C_Text_Header {
  font-weight: bold;
  margin: 0;
  font-size: 40px;
  width: 70%;
  line-height: 45px;
}
.C_Text_Title {
  color: $Black-light;
  line-height: 23.48px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.C_Purple {
  color: $Base-color;
}
.C_title {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: $White;
  margin-top: 0;
  padding-left: 0.75rem;
  margin-bottom: 1rem;
  text-align: left;
}
.C_Socials {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}
.C_Social svg {
  stroke: $links;
  font-size: 1.5rem;
}
.C_Social svg:hover {
  transition: all 0.3s ease-in-out;
  stroke: $Black;
}
.C_Form {
  margin: 2rem 0;
  margin-top: 0;
  flex: 5.5;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
.C_Text {
  color: $Black;
  text-align: left;
  font-weight: 600;
  width: 65%;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.C_Info {
  flex: 4.5;
  padding: 2rem;
  margin: auto;
  display: flex;
  background-color: $White;
  flex-direction: column;
  gap: 3rem;
  justify-content: flex-start;
  align-content: flex-start;
}
.C_btn {
  text-transform: capitalize;
  background: $Contact-btn;
  color: $White;
  padding: 1rem 1.5rem;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 700;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 1.2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.C_btn:hover {
  background-color: $Base-color;
}
.form_control {
  display: block;
  padding: 1rem 1rem;
  border: none;
  margin-bottom: 0.6rem;
  background: $White;
  text-transform: capitalize;
  color: $Black;
  font-family: "Manrope", sans-serif !important;
  letter-spacing: 1.5px;
}
.form_control:focus-within {
  outline: transparent;
}
.form_label {
  font-weight: 600;
  margin: 0.5rem 0;
  color: $footer;
  text-transform: capitalize;
  line-height: 1rem;
  font-size: 0.8rem;
}
.C_item_title {
  color: $Black;
  margin: 0;
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-weight: 700;
  line-height: 21px;
}
.C_Svg {
  font-size: 1.5rem;
  display: flex;
  width: fit-content;
  background-color: transparent;
}
.C_Svg svg {
  fill: $Svg-color;
}

.C_item-text {
  font-size: 1rem;
  margin: 0;
  color: $Black;
  font-weight: 400;
  width: fit-content;
}

.C_item {
  margin-right: 10px;
  font-family: "Manrope", sans-serif !important;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  background-color: transparent;
}
.C_item_Wrap {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.C_item:nth-last-child(n) {
  margin-right: 0;
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .C_Wrapper {
    width: auto;
    padding: 2rem;
  }
  .C_Text {
    width: 80%;
  }
  .C_Info {
    align-content: flex-start;
    padding-top: 4rem;
  }
  .C_item {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .Contact_Wrapper {
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }
  .C_Text {
    width: 90%;
    font-size: 1.5rem;
  }
  .C_Info {
    text-align: left;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
    padding-right: 0;
    background-color: transparent;
    flex-direction: column;
  }
  .C_item_title {
    margin-top: 0;
  }
  .C_item {
    margin: 0 !important;
    width: 75vw;
  }
  .C_item-text {
    align-self: center;
    width: 100%;
    margin: 0;
    font-size: 1rem;
    line-height: 22px;
  }

  .C_btn {
    width: fit-content !important;
    padding: 1rem 1.5rem;
  }
  .C_Container {
    padding: 0;
    display: flex;
    width: 100%;
  }
  .C_Form {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: transparent;
  }
  .C_Flex {
    flex-direction: column;
    gap: 0;
  }
  .C_Wrapper {
    padding: 2rem 1rem;
  }
}
