@import "../../Colors.scss";
.H_Container {
  height: auto;
  background-color: $background-offWhite;
}
.H_Wrapper {
  padding: 4rem 0rem;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  margin: 0px 120px;
}
.H_Text_Wrap {
  flex: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}
.H_Image_Wrap {
  flex: 1;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  background-image: url("../../assets/images/3 Frame Image Mendx.png");
  margin-left: 5rem;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: flex-end;
}
.H_Text_Header {
  font-weight: bold;
  margin: 0;
  font-size: 40px;
  line-height: 45px;
}
.H_Btn {
  background-color: $Contact-btn;
  padding: 0.5rem 2rem;
  color: $White;
  font-weight: 500;
  font-size: 16px;
  width: fit-content;
  text-decoration: none;
}
.H_Btn:hover {
  color: $White;
  transition: all 0.3s linear;
  background-color: $Contact-btn;
}
.H_Text_Title {
  color: $Black-light;
  line-height: 23.48px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.H_Orange {
  color: #f96507;
}
.H_Blue {
  color: #000098;
}
.H_Text_Wrap p {
  text-align: justify;
  line-height: 22px;
}
.H_Image {
  position: relative;
}
.H_Image::before {
  background-image: url("../../assets/images/3 Frame Image Mendx.png");
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .H_Wrapper {
    flex-direction: row;
    padding: 2rem 1rem;
    margin: 0;
  }
  .H_Image_Wrap img {
    width: 48%;
  }
  .H_Text_Wrap p {
    line-height: 22px;
    font-size: 1rem;
  }
  .H_Text_Header {
    line-height: 32px;
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 768px) {
  .H_Wrapper {
    flex-direction: column;
    padding: 2rem 1rem;
    margin: 0;
    margin-top: 4rem;
  }
  .H_Container {
    height: auto;
  }
  .H_Text_Wrap {
    margin-bottom: 3rem;
  }
  .H_Image_Wrap {
    justify-content: center;
    margin: 0;
  }
  .H_Image_Wrap img {
    width: 48%;
  }
  .H_Text_Title {
    font-size: 14px;
  }
  .H_Text_Header {
    line-height: 1.5;
    font-size: 24px;
  }
  .H_Text_Wrap p {
    line-height: 22px;
    font-size: 1rem;
  }
}
