@import "../../Colors.scss";
.Card_Wrapper {
  display: flex;
  padding: 4rem 0rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
  align-items: baseline;
}
.Card {
  margin-bottom: 2.5rem;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 25%;
  justify-content: center;
  position: relative;
  font-size: 16px;
  color: #000015cc;
  background-color: transparent;
  border-color: rgba(0, 0, 152, 0);
}
.Card:hover {
  transform: scale(1.05);
  transition: all 0.5s linear;
  z-index: 1;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Card h6 {
  font-weight: 500;
  text-transform: capitalize;
  color: #000015;
  font-size: 20px;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}
.Card_Image {
  height: 378px;
}
.Card_Image img {
  box-shadow: 10px 9px 5px -3px rgba(241, 154, 189, 0.32);
  -webkit-box-shadow: 10px 9px 5px -3px rgba(241, 154, 189, 0.32);
  -moz-box-shadow: 10px 9px 5px -3px rgba(241, 154, 189, 0.32);
}
.Card_Details {
  position: absolute;
  width: 80%;
  height: auto;
  padding: 0.5rem;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: $White;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.Card p {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
  .Card_Wrapper {
    padding: 2rem 0;
  }
  .Card {
    width: 43%;
  }
  .Card p {
    text-align: center;
  }
  .Card h6 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1200px) {
  .Card {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .Card {
    width: 100%;
    flex: auto;
    margin-bottom: 30px;
  }
  .Card_Details {
    padding: 1rem;
  }
  .Card_Image {
    width: 100%;
    height: auto;
  }
  .Card_Image img {
    width: inherit;
  }
  .Card p {
    text-align: center;
  }
  .Card_Wrapper {
    flex-wrap: wrap;
  }
}
