$background-offWhite: #dedede;
$bg-off: #f7f7f7;
$Black: black;
$Black-light: #000015;
$White: white;
$Base-color-light: #f19abd;
$Base-color: #901d79;
$Contact-btn: #ad2390;
$footer: #333333;
$Svg-color: #b6b6b6;
$links: #f19abd;
